<div class="d-flex align-items-stretch flex-column bd-highlight mb-3" style="height: 100%;">
    <div class="p-2 bd-highlight">
        <div class="row">
            <mat-form-field class="col-lg-6">
                <mat-label>Settings for</mat-label>
                <input matInput [placeholder]="targetSensor.path" [value]="targetSensor.name"
                    matTooltip="You can type a new name for the control to be used throughout the application."
                    (change)="UpdateSensorName($event.target.value)" />
            </mat-form-field>
            <div class="col-lg-6 row">
                <mat-checkbox class="col-4" [checked]="targetSensor.primary"
                    matTooltip="Set or unsets the primary status of the measurement. This is purely visual, primary controls will be displayed with a larger font and at the top."
                    (change)="UpdateSensorPrimary(!targetSensor.primary)">Primary</mat-checkbox>
                <mat-checkbox class="col-4 float-right" [checked]="targetSensor.hidden"
                    matTooltip="Hides the control from all views. Hidden controls can be shown temporarily in the global settings menu."
                    (change)="UpdateSensorHidden(!targetSensor.hidden)">Hidden</mat-checkbox>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-6"></div>
            <mat-form-field *ngIf="targetSensor.controlPath" class="col-lg-6">
                <mat-label>Current Control Method</mat-label>
                <mat-select [(value)]="adjusterType" matTooltip="Changes the way this control is automated.">
                    <mat-option value="DefaultAdjuster">System Default</mat-option>
                    <mat-option value="FixedAdjuster">Fixed</mat-option>
                    <mat-option value="LinearAdjuster">Linear Control</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <hr />
    <div class="mb-auto p-2 bd-highlight flex-fill">
        <ng-container *ngIf="adjusterType === 'FixedAdjuster'">
            <app-adjuster-fixed [targetSensor]="targetSensor" [adjuster]="adjuster"
                (valueChange)="SaveAdjuster($event)">
            </app-adjuster-fixed>
        </ng-container>
        <ng-container *ngIf="adjusterType === 'LinearAdjuster'">
            <app-adjuster-linear [targetSensor]="targetSensor" [adjuster]="adjuster"
                (valueChange)="SaveAdjuster($event)">
            </app-adjuster-linear>
        </ng-container>
        <ng-container *ngIf="adjusterType === 'DefaultAdjuster' && SetDefault()">            
        </ng-container>
    </div>
    <div class="p-2 bd-highlight align-bottom">
        <hr>
        <button type="button" mat-button [mat-dialog-close]="adjuster" class="btn btn-primary float-right">
            <mat-icon>close</mat-icon>Close
        </button>
    </div>
</div>