<div class="row">
    <mat-form-field class="col-lg-6">
        <mat-label class="badge">Current setting</mat-label>
        <mat-select [disabled]="true" [value]="targetSensor.path"
            matTooltip="The control that is currently being modified.">
            <mat-option [value]="targetSensor.path">
                {{targetSensor.parentName}} -
                {{targetSensor.type}} -
                {{targetSensor.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div class="row">
    <div class="col-lg-6">
        <h1>{{targetSensor.value | number:'1.1-1'}}{{targetSensor.unit}}</h1>
    </div>
</div>

<mat-slider min="0" max="100" step="1" tickInterval="10" thumbLabel [value]="fixedTarget"
    (input)="fixedTarget = +($event.source.value)" (valueChange)="PublishUpdate()" style="width: 100%;"    
    matTooltip="The fixed value to set the setting to.">
</mat-slider>
<mat-hint>
    The fixed control will set and hold the setting to a specified value that will not change.
</mat-hint>